.portfolio_main {
  background-color: #152238;
  width: 100vw;
  min-height: 100vh;
  color: white;
  padding: 50px;
}

.project_categories {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  padding-bottom: 25px;
}
.project_categories label {
  margin-right: 10px; /* Adjust the value as needed */
}

.menu_options {
  cursor: pointer;
}

/* portfolio menu*/
/*---------------------------*/
.category_divider {
  width: 50%;
}

/* portfolio gallery */
/*---------------------------*/
.gallery_container {
  width: 100%;
  height: 800px; /* Adjust the value to fit within the viewport */
  overflow-y: auto; /* Enable vertical scrolling */
  padding-top: 25px;
}

.project_card {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create a 3-column grid */
  grid-gap: 10px; /* Add spacing between the cards */
  margin-top: 4rem;
}

.card {
  flex: 0 0 auto; /* Prevent cards from shrinking */
  width: 30%;
  height: 450px;
  margin: 10px;
  /* Rest of the CSS for card styling */
}

/* .card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.card:hover img {
  transform: scale(1.1); /* zoom in effect when img is hovered} */

.port_arrow {
  padding-top: 30px;
}

.project_card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 4rem;
}
