.resume_main {
  background-color: #d8b81f;
  width: 100vw;
  min-height: 100vh;
  color: black;
  padding: 20px;
}

.resume_container {
  width: 55%;
  height: 1400px;
  background-color: rgb(253, 252, 250);
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* to add drop shadow */
  /* margin-top: 80px; */
  padding: 40px;
  /* add margin-top */
}

.resume_body {
  font-size: 12px;
}

/* resume content */
.resume_row {
  display: flex;
  padding: 30px;
}

#label {
  width: 30%;
  font-weight: bold;
  padding-right: 10px;
}

#content {
  width: 60%;
}

.resume_arrow {
  padding-top: 25px;
}
