.about_main {
  background-color: #d8b81f;
  width: 100vw;
  min-height: 100vh;
  /* padding: 20px; */
  color: white;
}
.about_row {
  display: flex;
  flex-wrap: row;
  margin-top: 50px;
  margin-bottom: 0;
  justify-content: center; /* center horizontally */
  padding: 0 50px;
}

.about_col {
  margin-bottom: 20px;
  padding: 10px;
}

.about_col:nth-child(2) {
  flex: 2; /* Set the second column to be twice the width of the others */
}

.about_col:first-child,
.about_col:last-child {
  flex: 1; /* Set the first and last columns to have equal width */
}

.profile_col {
  float: right;
}

.about_title {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  font-size: 2rem;
}
.about_name h2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.mediaIcons {
  width: 50px;
  height: 50px;
  padding-left: 10px;
}

.about_headshot {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 6px solid white;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#cta_btn {
  color: white;
  border: 3px solid white;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px 50px;
  /* margin: 15px; */
  font-size: 30px;
  transition: all 0.3s ease;
}
.ctaBtn_container {
  padding-bottom: 15px;
}
.about_statement {
  padding: 10px;
  width: auto;
  font-family: "Lato", sans-serif;
  font-weight: 550;
}

#about_lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the items horizontally */
  list-style-type: none;
  padding-left: 0;
}

#about_lists li {
  flex-basis: 50%;
  margin-bottom: 10px;
  position: relative;
  padding-left: 25px;
  text-align: center; /* Center the text inside the list item */
}

#about_lists li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
}

#gallery {
  /* flex-basis: 10%; */
  /* margin-left: auto; */
}

.about_arrow_container {
  padding: 10px;
}
