.about_main {
  background-color: #d8b81f;
  width: 100vw;
  min-height: 100vh;
  /* padding: 20px; */
  color: white;
}
.about_row {
  display: flex;
  flex-wrap: row;
  margin-top: 30px;
  margin-bottom: 0;
  justify-content: center; /* center horizontally */
  padding: 0 25px;
  padding-left: 100px;
  padding-right: 100px;
}

.about_col {
  margin-bottom: 20px;
  padding: 10px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  margin-right: 20px; /* Add margin between columns */
}

.about_col:nth-child(2) {
  flex: 2; /* Set the second column to be twice the width of the others */
}

.about_col:first-child,
.about_col:last-child {
  flex: 1; /* Set the first and last columns to have equal width */
}

.profile_col {
  float: right;
}

.about_title {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  font-size: 2rem;
  text-align: left; /* Align the title to the left */
  padding-top: 25px;
  padding-left: 115px;
}
.about_name h2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.mediaIcons {
  width: 50px;
  height: 50px;
  padding-left: 10px;
}

.about_headshot {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid white;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#cta_btn {
  color: white;
  border: 3px solid white;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px 50px;
  /* margin: 15px; */
  font-size: 30px;
  transition: all 0.3s ease;
}
.ctaBtn_container {
  padding-bottom: 15px;
}
.about_statement {
  /* padding: 10px; */
  width: auto;
  font-family: "Lato", sans-serif;
  font-weight: 550;
}

#about_lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the items horizontally */
  list-style-type: none;
  padding-left: 0;
  font-size: 12px;
}

#gallery {
  /* flex-basis: 10%; */
  /* margin-left: auto; */
}

.about_arrow_container {
  padding: 10px;
}

.about_technologies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.about_list {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  /* margin-right: 20px; */
}

.about_item {
  margin-bottom: 10px;
  /* text-align: center; */
  align-items: center;
}
