.card {
  border: 3px solid rgba(255, 255, 255, 0.711);
  border-radius: 10px;
  /* padding: 5px; */
  /* margin-bottom: 2500px;  */
  /*remove when applicable*/
}

.number {
  text-align: right;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.8rem;
}

.project_title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

.projectPic {
  width: 100%;
}

.project_description {
  margin-bottom: 1.5rem;
}

.open_link:hover {
  background-color: #6a6d6d;
  color: #ffff;
}

.gh_link {
  padding: 10px;
}

.card_btns {
  padding: 15px;
}

.open_details,
.gh_link button {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.open_details:hover,
.gh_link button:hover {
  background-color: #ffffff;
  color: #152238;
}
