/* nav stuff */
.navbar {
  padding: 14px 16px;
  /* background-color: #d0d0cd; */
}
.nav_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

.nav_li a {
  display: inline-block;
  width: 150px;
  padding: 12px;
  color: #fff;
  background-color: #d8b81f; /* add this line to make the background color orange */
  border: none; /* remove the border */
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  margin-right: 50px;
  letter-spacing: 1.5px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 16px;
}

.logo {
  float: left;
  margin-left: 50px;
  height: 100px;
  width: 200px;
}

.menu__container {
  /* width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0; */
}

.menu__container {
  display: inline-block;
  cursor: pointer;
  margin-right: 25px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
