.banner {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 25px;
  background-color: #d8b81f;
  height: 25px;
  /* display: flex; */
  align-items: center;
  overflow: hidden;
  width: 100vw;
}

.banner-text {
  animation: moveText 30s linear infinite;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: white;
}

.moving-text {
  white-space: nowrap;
}

@keyframes moveText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
